<table class="table table-striped">
	<thead>
		<tr>
			<th>Formatting</th>
			<th>Font</th>
			<th>Font Size</th>
			<th>Fore Color</th>
			<th>Bold</th>
			<th>Italic</th>
			<th>Alignment</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong>Title</strong></td>
			<td>{{ formattingdetail.title_font }}</td>
			<td>{{ formattingdetail.title_fontsize }}</td>
			<td>{{ formattingdetail.title_forecolor }}</td>
			<td>{{ formattingdetail.title_bold }}</td>
			<td>{{ formattingdetail.title_italic }}</td>
			<td>{{ formattingdetail.title_alignment }}</td>
		</tr>
		<tr>
			<td><strong>Subtitle</strong></td>
			<td>{{ formattingdetail.subtitle_font }}</td>
			<td>{{ formattingdetail.subtitle_fontsize }}</td>
			<td>{{ formattingdetail.subtitle_forecolor }}</td>
			<td>{{ formattingdetail.subtitle_bold }}</td>
			<td>{{ formattingdetail.subtitle_italic }}</td>
			<td>{{ formattingdetail.subtitle_alignment }}</td>
		</tr>
		<tr>
			<td><strong>Heading 1</strong></td>
			<td>{{ formattingdetail.h1_font }}</td>
			<td>{{ formattingdetail.h1_fontsize }}</td>
			<td>{{ formattingdetail.h1_forecolor }}</td>
			<td>{{ formattingdetail.h1_bold }}</td>
			<td>{{ formattingdetail.h1_italic }}</td>
			<td>{{ formattingdetail.h1_alignment }}</td>
		</tr>
		<tr>
			<td><strong>Heading 1</strong></td>
			<td>{{ formattingdetail.h2_font }}</td>
			<td>{{ formattingdetail.h2_fontsize }}</td>
			<td>{{ formattingdetail.h2_forecolor }}</td>
			<td>{{ formattingdetail.h2_bold }}</td>
			<td>{{ formattingdetail.h2_italic }}</td>
			<td>{{ formattingdetail.h2_alignment }}</td>
		</tr>
		<tr>
			<td><strong>Heading 1</strong></td>
			<td>{{ formattingdetail.h3_font }}</td>
			<td>{{ formattingdetail.h3_fontsize }}</td>
			<td>{{ formattingdetail.h3_forecolor }}</td>
			<td>{{ formattingdetail.h3_bold }}</td>
			<td>{{ formattingdetail.h3_italic }}</td>
			<td>{{ formattingdetail.h3_alignment }}</td>
		</tr>
		<tr>
			<td><strong>Heading 1</strong></td>
			<td>{{ formattingdetail.h4_font }}</td>
			<td>{{ formattingdetail.h4_fontsize }}</td>
			<td>{{ formattingdetail.h4_forecolor }}</td>
			<td>{{ formattingdetail.h4_bold }}</td>
			<td>{{ formattingdetail.h4_italic }}</td>
			<td>{{ formattingdetail.h4_alignment }}</td>
		</tr>
		<tr>
			<td><strong>Heading 1</strong></td>
			<td>{{ formattingdetail.h5_font }}</td>
			<td>{{ formattingdetail.h5_fontsize }}</td>
			<td>{{ formattingdetail.h5_forecolor }}</td>
			<td>{{ formattingdetail.h5_bold }}</td>
			<td>{{ formattingdetail.h5_italic }}</td>
			<td>{{ formattingdetail.h5_alignment }}</td>
		</tr>
		<tr>
			<td><strong>Heading 1</strong></td>
			<td>{{ formattingdetail.h6_font }}</td>
			<td>{{ formattingdetail.h6_fontsize }}</td>
			<td>{{ formattingdetail.h6_forecolor }}</td>
			<td>{{ formattingdetail.h6_bold }}</td>
			<td>{{ formattingdetail.h6_italic }}</td>
			<td>{{ formattingdetail.h6_alignment }}</td>
		</tr>
		<tr>
			<td><strong>Normal</strong></td>
			<td>{{ formattingdetail.normal_font }}</td>
			<td>{{ formattingdetail.normal_fontsize }}</td>
			<td>{{ formattingdetail.normal_forecolor }}</td>
			<td>{{ formattingdetail.normal_bold }}</td>
			<td>{{ formattingdetail.normal_italic }}</td>
			<td>{{ formattingdetail.normal_alignment }}</td>
		</tr>
	</tbody>
</table>