{% extends "dashboard_adviser.html" %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        
        <div class="page-header"> 
            <div class="btn-group pull-right">
                <a href="{% url 'soamgr:oa_create' %}" class="btn btn-success">
                    Create Order
                </a>
            </div>
            <h1>Adviser Dashboard</h1> 
        </div>
        <h2 class="sub-header">Orders Saved</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Client Name</th>
                        <th>Date Saved</th>
                        <th>Status</th>
                        <th class="pull-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for oa in oas_saved %}
                        <tr>
                            <td>{{ oa.id }}</td>
                            <td>{{ oa.client_name }}</td>
                            <td>{{ oa.created }}</td>
                            <td>Saved</td>
                            <td class="pull-right">
                                {% if oa.is_submitted %}
                                    <a href="{% url 'soamgr:oa_update' oa.pk %}" class="btn btn-primary">
                                        Update
                                    </a>
                                    
                                {% else %}
                                    <a href="{% url 'soamgr:oa_update' oa.pk %}" class="btn btn-primary">
                                        Update
                                    </a>
                                {% endif %}
                            </td>
                            {% empty %}
                            <td colspan="4">No data available</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <h2 class="sub-header">Orders in Progress</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Client Name</th>
                        <th>Date Ordered</th>
                        <th>Status</th>
                        <th class="pull-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for oa in oas_inprogress %}
                        <tr>
                            <td>{{ oa.id }}</td>
                            <td>{{ oa.client_name }}</td>
                            <td>{{ oa.created }}</td>
                            <td>OA in-progress</td>
                            <td class="pull-right">
                                <a href="{% url 'soamgr:oa_update' oa.id %}" class="btn btn-primary">
                                    Review OA
                                </a>
                            </td>
                            {% empty %}
                            <td colspan="5">No data available</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        {% if soas_inprogress %}
            <h2 class="sub-header">SOA's in Progress</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Client Name</th>
                            <th>Soa Type</th>
                            <th>Date Ordered</th>
                            <th>Date Due</th>
                            <th>Status</th>
                            <th class="pull-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for soa in soas_inprogress %}
                            <tr>
                                <td>{{ soa.id }}</td>
                                <td>{{ soa.client_name }}</td>
                                <td>{{ soa.soa_type }}</td>
                                <td>{{ soa.created }}</td>
                                <td>{{ soa.created }}</td>
                                <td>SOA in-progress</td>
                                <td class="pull-right">
                                    <a href="{% url 'soamgr:adviser_reviewsoa' soa.id %}" class="btn btn-primary">
                                        Review Soa
                                    </a>
                                </td>
                                {% empty %}
                                <td colspan="4">No data available</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        
        {% if soas_forreview %}
            <h2 class="sub-header">SOA's Completed & Ready for Review</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Client Name</th>
                            <th>Date Ordered</th>
                            <th>Status</th>
                            <th class="pull-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for soa in soas_forreview %}
                            <tr>
                                <td>{{ soa.id }}</td>
                                <td>{{ soa.client_name }}</td>
                                <td>{{ soa.created }}</td>
                                <td>SOA ready for review</td>
                                <td class="pull-right">
                                    <a href="{% url 'soamgr:adviser_reviewsoa' soa.id %}" class="btn btn-primary">
                                        Review Soa
                                    </a>
                                </td>
                                {% empty %}
                                <td colspan="4">No data available</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

{% endblock content %}