{% extends "dashboard_pp.html" %}

{% block title %}Update Order{% endblock %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <form class="form-horizontal" method="post" action="{% url 'soamgr:oa_update' id_updated %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="page-header"> 
            <div class="pull-right">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
            <h1>Update Order</h1> 
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-7">                    
                    
                    {% include 'form_template.html' %}
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Order Agreement</h3>
                        </div>
                        <div class="panel-body" style="max-height: 10;overflow-y: scroll;">
                            <h4>Strategies</h4>
                            <p>No strategies added yet. The developers are still working on this feature.</hp>
                            </br>
                            
                            <h4>Goals</h4>
                            <p>No goals added yet. The developers are still working on this feature.</hp>
                            </br>
                            
                            <h4>Files</h4>
                            <p>No strategies added yet. The developers are still working on this feature.</hp>
                            </br>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
